<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>846119076724-049cpp95sbgv1mqj63jg6l9c0h9kkp73.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.846119076724-049cpp95sbgv1mqj63jg6l9c0h9kkp73</string>
	<key>API_KEY</key>
	<string>AIzaSyDjf28SwMJHqrAGfeRnm2SF1Moqd1N8H3Q</string>
	<key>GCM_SENDER_ID</key>
	<string>846119076724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ukrainianrestoration.Icebreaker</string>
	<key>PROJECT_ID</key>
	<string>icebreaker-ec19c</string>
	<key>STORAGE_BUCKET</key>
	<string>icebreaker-ec19c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846119076724:ios:9a76dc2b9773552381e221</string>
	<key>DATABASE_URL</key>
	<string>https://icebreaker-ec19c.firebaseio.com</string>
</dict>
</plist>